<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axis App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<main class="container">

    <div id="weather-service">
        <h1 style="text-align: center; padding-bottom: 15px;">Weather Service</h1>

        <form action="/weather" method="get" style="padding-bottom: 15px;">
            <label>
                <input type="text" name="city" placeholder="Enter city name...">
            </label>
            <button type="submit">submit</button>
        </form>

        {% if error_weather %}
            <div id="weather-error">
                <h4 style="color: red;">{{ error_weather }}</h4>
            </div>
        {% endif %}

        {% if weather and city %}
            <div id="weather-info">
                <h2>{{ city }}: forecast for {{ forecast_days }} days</h2>
                <table id="weather-table">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Max</td>
                            <td>Min</td>
                            <td>Condition</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for day in weather %}
                        <tr>
                            <td>{{ day.date }}</td>
                            <td class="temp-max">{{ day.max }}°C</td>
                            <td class="temp-min">{{ day.min }}°C</td>
                            <td>{{ day.condition }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

</main>

</body>
</html>